.cardImageContainer {
  width: 350px;
  height: 350px;
  overflow: hidden;
  text-align: center;
}

.cardImageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.chip {
  background-color: rgb(96, 209, 115);
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  height: 60px;
  width: 80px;
}

.icon {
  font-size: 30px;
  color: #3b5998;
}
.icon:hover {
  color: rgb(96, 209, 115);
}
