.back {
  background: url("../../images/SignIn.svg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
}

.back2 {
  background: url("../../images/SignUp.svg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
}

.a {
  background-color: rgba(255, 255, 255, 0.63);
}
